.content-signup {
    margin-left: auto;
    margin-right: auto;
}

.btn {
    background-color: #0d28a6;
}

.signup-title {
    font-family: "Arial";
    font-size: 24px;
    font-weight: bold;
}

.label-name {
    font-family: "Arial";
    font-size: 14px;
}

.label-email {
    font-family: "Arial";
    font-size: 14px;
}

.label-password {
    font-family: "Arial";
    font-size: 14px;
}

.text-signin-bottom {
    font-family: "Arial";
    font-size: 14px;
    font-weight: bold;
    color: #0d28a6;
    text-decoration: underline;
}
