.top-rectangle-method {
    background-color: #f1f3ff;
    height: 180px;
}

.text-back:hover {
    cursor: pointer;
}

.form-content {
    margin-top: -70px;
}

.form-select-bank {
    border: gray;
    border-radius: 10px;
}

.form-detail-payment {
    border: gray;
    border-radius: 10px;
}
