.footer-address {
    font-family: "Arial";
    font-size: 14px;
}

.footer-email {
    font-family: "Arial";
    font-size: 14px;
}

.footer-handphone {
    font-family: "Arial";
    font-size: 14px;
}

.footer-nav {
    font-family: Arial;
    font-size: 14px;
}

.footer-link {
    text-decoration: none;
}

.sosmed-title {
    font-family: "Arial";
    font-size: 14px;
}

.copyright-title {
    font-family: "Arial";
    font-size: 14px;
}
