.footerAddress p {
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.footerNavigation ul {
    list-style-type: none;
}

.footerNavigation a:link {
    text-decoration: none;
    color: black;
}

.footerNavigation a:visited {
    text-decoration: none;
    color: black;
}

.footerSosmedTitle {
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.footerCopyrightTitle {
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}
